.product-card{
    width: 250px !important;
    position: relative;
}

.p-image{
    height: 150px;
}

.p-series, .p-price{
    font-weight: 500;
    font-size: 17px;
}


.p-description{
    font-size: 11px;
    color : #7F7F7F;
    padding-top: 5px;
}
.btn-back{
    position: absolute;
    top: 60px;
    background: none !important;
}
.btn-forword{
    position: absolute;
    top: 60px;
    right: 31px;
    background: none !important;
}

@media screen  and (max-width : 400px) {
    .product-card{
        width: 100% !important;
        
    }
    
    .p-series, .p-price{
        font-size: 20px;
    }
  
  }
  @media (min-width: 400px) and (max-width: 576px) {
    .product-card{
        width: 50% !important;
    }
    .p-image{
        height: 100px;
    }
    .p-series, .p-price{
        font-size: 13px;
    }
    .p-description{
        font-size: 9px;
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-card{
        width: 50% !important;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .product-card{
        width: 33.33% !important;
    }
    .p-series, .p-price{
        font-size: 15px;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .product-card{
        width: 25% !important;
    }
    .p-series, .p-price{
        font-size: 15px;
    }
    
  }
  
  @media (min-width: 1200px) and (max-width: 1400px) {
    .product-card{
        width: 25% !important;
        
    }
  }
  @media screen and (min-width: 1400px) {
    .product-card{
        width: 20% !important;
        
    }
  }
  